**/*.exe
**/*.sh
**/tmp
!new-*/**/Uninstall-osdag.sh
!new-*/**/post_install.sh
!new-*/**/*.vbs
!new-*/**/*.bat
!new-*/**/*.yaml
!new-*/**/*.ps1
!new-*/**/*.ico
!new-*/**/*.png
!new-*/**/*.jpg
!new-*/**/*.jpeg
!new-*/**/*.bmp
!new-*/**/*.txt
